@model CollegeBookRental .Models .Genre 
@{
    ViewBag.Title = "Create";
}


<!--AntiForgeryToken uniquely identifies users, to prevent hacking-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken() 
}

<div class="form-horizontal">
    <h3>Create New Genre</h3>
    <hr />
    <div class=" form-group">
        @Html.LabelFor(m => m.Name, htmlAttributes: new {@class= "control-label col-md-2"})<!--column md 2 is a bootstrap class, there 
                                                                                               will be 2 columns for this label, there are 12 columns all togther-->
        <div class="col-md-10">
            @Html.EditorFor(m=> m.Name , new {htmlAttributes =new {@class= "form-control" } })<!--This is a text box-->>
            @Html.ValidationMessageFor(m=> m.Name ,"",new {@class= "text-danger" })<!--This is validation message, text-danger makes sure bootstrap displays 
                                                                                       red text, we use "", so ASP.NET displays the default message.-->
        </div>
        </div>
    
</div>
<!--Create a button-->
<div>
    <input type="submit" value="Create" class=" btn btn-sm btn-success"/>
    <a type="submit" class="btn btn-primary btn-sm" href=" @Url.Action("Index")"<!--We want this button to go the Index View -->
   <span class=" glyphicon glyphicon-list"></span><!--glyphicon-list makes a list icon-->
<span>Back To List</span>
    </div>

