<!--The code below lets the view know that it will be working with the Genre object-->
@model CollegeBookRental.Models.Genre
@{
    ViewBag.Title = "Create";
}
<!--AntiForgeryToken uniquely identifies users, to prevent hacking-->
<!--column md 2 is a bootstrap class, there
    will be 2 columns for this label, there are 12 columns all together-->
<!--The validation message, text-danger makes sure bootstrap displays
red text, we use "", so ASP.NET displays the default message.-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>Create New Genre</h3>
        <hr />
        <div class="form-border">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label col-md-2" }) <!--This is a text box-->
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <!--Create a button, add the @@Html.Partial("_BackToListButtonPartial") -->
    <div>
        <input type="submit" value="Create" class="btn btn-sm btn-success" />
        @Html.Partial("_BackToListButtonPartial")
    </div>
}